@font-face {
    font-family: 'Yandex Sans Display';
    font-weight: normal;
    font-style: normal;
    src: local('YandexRegular'), url(../fonts/YandexSansDisplay-Regular.ttf) format('truetype');
}

// @font-face {
//     font-family: 'Yandex Sans Display';
//     font-weight: normal;
//     font-style: bold;
//     src: local('YandexBold'), url(../fonts/YandexSansDisplay-Bold.ttf) format('truetype');
// }